body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hero {
  background-color: #1f2937;
  padding: 10px 196px;
  margin: 0;
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 84px;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header .links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.header a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.main {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bold;
}

.secondary {
  color: #e5e7eb;
  font-size: 18px;
}

.right {
  background-color: #3882f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 84px;
  color: #ffffff;
  flex: 1 0 auto;
  max-width: 500px;
}

button {
  padding: 8px 32px;
  border-radius: 10px;
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bolder;
  font-size: 18px;
}

/* section 2 */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 100px;
}

.info .information {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.items {
  display: flex;
  gap: 64px;
  justify-content: center;
  padding-top: 48px;
  text-align: center;
  font-size: 30px;
}

.items .img {
  background-color: #1f2937;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px;
}

.box {
  width: 850px;
  display: flex;
  flex-direction: column;
}
.msg {
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
}

.author {
  font-weight: bold;
  color: #1f2937;
  align-self: flex-end;
  font-size: 24px;
}
